<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.ues.eisi.fia.procesosadministrativosfia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Evaluacion_actualizar"></activity>
        <activity android:name=".Evaluacion_consultar" />
        <activity android:name=".Evaluacion_eliminar" />
        <activity android:name=".Evaluacion_insertar" />
        <activity android:name=".PrimeraRevision_menu" />
        <activity android:name=".PerInscPrimRev_menu" />
        <activity android:name=".Evaluacion_menu" />
        <activity android:name=".MenuEstudiante" />
        <activity android:name=".Diferido_eliminar" />
        <activity android:name=".Diferido_actualizar" />
        <activity android:name=".Diferido_insertar" />
        <activity android:name=".Diferido_consultar" />
        <activity android:name=".Diferido_menu" />
        <activity android:name=".Repetido_Eliminar" />
        <activity android:name=".Repetido_modificar" />
        <activity android:name=".Repetido_Insertar" />
        <activity android:name=".Repetido_Consultar" />
        <activity android:name=".Repetido_menu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>